.card{
    /* height: 650px; */
    width: 400px;
    max-width: 650px;
    border: 1px solid black;
    background: linear-gradient(45deg,aqua,seagreen);
    border-radius: 20px;
    margin-top: 20px;
}
body{
    display: flex;
    justify-content: center;
}
.search{
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 30px;
}
.search button{
    border: 0;
    outline: 0;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;

}
.search button img{
    width: 25px;
}
.input{
    margin-left: 25px;
    height: 30px;
    width: 275px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.icon{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 120px;
    border: 1px solid whitesmoke;
    border-radius: 20%;
}
.temp{
    text-align: center;
    margin-top: 6px;
    color: black;
    font-weight: bold;
    font-size: 50px;
}
.city{
    text-align: center;
    margin-top: 1px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Humidity{
   width: 60px;
   height: 60px;
   border: 1px solid white;
   border-radius: 20%;
}
.Wind{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 20%;
}
.details{
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 20px;
}
.weather{
    display: none;
}
.error{
    text-align: center;
    font-size: 25px;
    color: black;
    display: none;
}
::placeholder{
    color: black;
    
}
